<div class="container">

  <h1><%= @house.name %></h1>
  <div class="row">
    <div class="student-info">
      <img class="house_logo" src="<%= @house.url %>" alt="gryffindor_logo">
    </div>
  </div>

  <h2 class = "row">Students</h2>
  <div class="student">

    <% for student in @students %>
    <div class="student-info">

      <p>Name: <a class="name" href="/students/<%= student.id %>"> <%= student.pretty_name %></a></p>
      <p>House: <%= student.house.name %></p>

      <hr />
    </div>
    <% end %>

  </div>
</div>
